*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
 
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5d4c49;
    color: #fff;
    min-height: 8vh;
}
.logo{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    overflow-x: hidden;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    font-size: 1rem;
    text-decoration: none;
    color: white;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 2rem;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.nav-active{
    transform: translateX(0%);
  }
  .toggle .line-1{
     transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line-2{
      opacity: 0;
 }
 .toggle .line-3{
      transform: rotate(45deg) translate(-5px,-6px);
 }

@media only screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}
@media only screen and (max-width:768px){
    
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        width: 50%;
        height: 92vh;
        top: 8vh;
        background-color: #5d4c49;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform:translateX(100%);
        transition: transform 0.5s ease-in;
        overflow-x: hidden;
    }
    
    .burger{
        display: block;
        
    }
}
